/.gitdeps
/build
# CLion build directory
/cmake-**
build-wsl
.vscode/
.idea/
venv/
.venv/
/third_party/external
/.temp
/target

# Common
.DS_Store


# Added by cargo
#
# already existing elements were commented out

#/target
